<wolfram:sequence
  values="Replace[#IndexListing, Except[_List]:>#Articles]"
  slot="IndexItem"
  >
  <item>
    <title><wolfram:expr>#IndexItem["Title"]</wolfram:expr></title>
    <link><wolfram:slot id="SiteURL"/>/<wolfram:expr>#IndexItem["URL"]</wolfram:expr></link>
    <description>
        <wolfram:expr>
          $$templateLib["createRSSElementDescription"][#IndexItem]
        </wolfram:expr>
    </description>
    <guid><wolfram:slot id="SiteURL"/>/<wolfram:expr>#IndexItem["URL"]</wolfram:expr></guid>
    <pubDate><*#IndexItem["Modified"]*></pubDate>
  </item>

</wolfram:sequence>
