/*

body styles

*/

body {
  background-color: #ccc;
}

/*

anchor styles

*/

a {
  color: #333;
  text-decoration: none;
}

a:focus,
a:hover,
a.hovered {
  color: #405980;
  text-decoration: none;
}

a code {
  display: inline-block;
  text-decoration: none;
}

a code:hover, a code .hovered, a code:focus {
  display: inline-block;
  color:#405980;
}

/*

Mathematica styles

*/

.mma-print {
  font-size : 10;
  color : rgb (128, 128, 128);
}

.mma-print-usage {
  font-size : 10;
	color : rgb (128, 128, 128);
	background - color : aliceblue;
	border - top : solid 2 px lightblue;
	padding : 5 px 0 5 px 0;
}

.mma-message{
  font-size: 12px;
  font-family: monospace;
}

.mma-message .mma-message-name {
  color: #dd0000;
}

.mma-message .mma-message-text {
  color: gray;
}


/*

blockquote styles

*/

blockquote {
  color: #818a91;
  font-style: italic;
}

/*

selection styles

*/

::selection {
  background: #80b3ff;
  color: #fff;
  text-shadow: none;
}

/*

hr styles

*/

hr {
  margin: 5px 10px 5px 0;
}

/*

container styles

*/

.container {
  width: 100%;
  max-width: 960px;
}

/*

header styles

*/

.small-width {
  width: 200px;
}

.row {
  margin: 0;
}

.list-inline-item {
  margin: 0
}

.w3-bar-block,
.w3-bar-block ul {
  display: grid;

}

.header body {
  color: white;
}

.header a {
  color: white;
}

.header a:focus,
.header a:hover {
  color: #ff0000;
}

.header {
  height: 125px;
}

.header img {
  margin-bottom: 1rem;
}

.header .title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

/*

hn styles

*/

.page-header {

  color: #a20000;
  padding: 25px 0;
  margin: 0;

}

.index-section {
  font-weight: bold;
  color: black;
}

.index-subsection {
  color: darkgray;
}


/*

main styles

*/

.main {
  background: #ccc;
  width: 100%;
  min-height: 800px;
}

.main-content {
  background: #fafafa;
  width: 100%;
  min-height: 800px;
  padding: 25px;
}

.embedded-notebook  {
  margin: -25px;
}

/*

footer styles

*/

.footer {
  padding: 1.5rem 0 .5rem;
  border-top: 1px solid rgba(0,0,0,.1);
  background: #ccc;
}

p.acknowledgement {
  float:right;
}

p.acknowledgement a{
  color: #a25555;
}

/*

top-bar styles

*/

.top-bar {

  height: 100%;
  width: 100%;
  max-width: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: #a20000;
  color: white;
}

.top-bar .bubble {
  background: rgba(64,89,128,.8);
  padding: 10px 25px 10px 25px;
  min-width: 350px;
  max-width: 500px;
}

.top-bar a:hover {
  text-decoration: none;

}


.list-inline {
  list-style: none;
}

.list-inline-item {
  margin: 0 0 0 -5px;
  min-height: none;
}

/*


*/

.embedded-notebook {
  border-top: solid 1px rgb(225, 225, 225);
  background-color: white;
  position: sticky;
  width: auto;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: -1;
}

.accordion-hidden {
  height: 1px;
  width: 100%;
  overflow: hidden;
}

.accordion-visible {
  height: 400px;
  width: 100%;
}

.accordion-thumb {
  position: absolute;
  top: 0;
  left: 100px;
  height: 25px;
  width: 85px;
  padding: 0;
  margin-top: -25px;
  border: solid 1px rgb(225, 225, 225);
  background: rgb(250, 250, 250);
  border-bottom: solid 1px rgb(250, 250, 250);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
}

/*

left-content styles

*/

.left-content {
  background-color: #fff;
  width: auto;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.5rem 2.5rem 2.5rem 1.5rem;
  clear: none;
}

/*

about-blurb styles

*/

.about-block {
  margin-bottom: 50px;
  width: 100%;
  /*text-align:center;*/
}

.about-blub {
  padding: 15px 25px 15px 25px;
  border-top: 1px solid rgba(128,128,128,.3);
  border-bottom: 1px solid rgba(128,128,128,.3);
  width: 70%;
  float: center;
  text-align: left;
  /*margin: auto;*/
}

.about-blub .content {
  font-size: small;
}

/*

article styles

*/

article .content h1 {
  color: #a20000;
}

article .content h2 {
  width: 80%;
  margin-bottom: 25px;
  margin-top: 10px;
}

article .content h3 {
  color: #a25555;
}

kbd {
  border-radius: 5;
  border: solid 1 gray;
  background: rgb(250, 250, 250);
}


/*

bubble styles

*/

.bubble {
  border: 1px solid rgba(64,89,128,.2);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: none;
}

.bubble p {
  color: #bbb;
  padding: 5px 5px 5px 10px;
  width: 100%;
  float: center;

};

/*

misc styles

*/

.centered {
  text-align: center;
}

/*

paclet styles

*/


.paclet {
  background: #fff;
  padding: 0;
  margin: 15px 15px 25px;
  width: 80%;
  min-width: 250px;
  min-height: 250px;
  border: 1px solid rgba(64,89,128,.2);
  border-radius: 5px;
}

.paclet h4 {
  position: relative;
  background: #333;
  display:inline-block;
  color: white;
  width: 100%;
  height: 100px;
  padding: 15px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
}

.paclet h4 a {
  color: white;
}

.paclet-summary {
  padding: 35px 25px;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

/*

floating styles

*/

.floating {
  box-shadow: 1px 1px 1px rgba(128,128,128,.5);
}

/*

inset styles

*/

.inset {
  box-shadow: inset 1px 1px 1px rgba(200,200,200,.5);
}

/*

highlight styles

*/

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

/*

pagination styles

*/

.pagination .page-link {
  color: #333;
}

/*

teaser styles

*/

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

/*

right-bar styles

*/

.right-bar {
  width: 200;

}

/*

side-bar styles

*/

.sidebar {
  border-right: solid 1px;
}

/*

article styles

*/

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content {
  background: white;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 15px;
  border: 1px solid rgba(64,89,128,.2);
  border-radius: 5px;
}

.article .content a {
  text-decoration: underline;
  color: #a25555;
}

.pagination { margin-bottom: 55px; }

pre code {
  white-space: pre;
}

/*

media specifications

*/

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {

  .right-bar {
    width: 0px;
    min-width: 0px;
  }

  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}
