<head>



<wolfram:comment>

  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">StyleSheets</wolfram:slot>
    <wolfram:slot id="if">
      <wolfram:sequence values="#StyleSheets">
        <wolfram:get path="include/lib/siteFileLink.html">
          <wolfram:slot id="rel">stylesheet</wolfram:slot>
          <wolfram:slot id="href">
            /theme/css/<wolfram:slot id='1'/>
          </wolfram:slot>
        </wolfram:get>
      </wolfram:sequence>
    </wolfram:slot>

    <wolfram:slot id="else">
      <wolfram:get path="include/lib/siteFileLink.html">
        <wolfram:slot id="rel">stylesheet</wolfram:slot>
        <wolfram:slot id="href">/theme/css/style.css</wolfram:slot>
      </wolfram:get>
    </wolfram:slot>
  </wolfram:get>

</wolfram:comment>

  <wolfram:slot id="head"></wolfram:slot>

</head>
