<wolfram:comment>

This generates the index.html page

</wolfram:comment>

<wolfram:comment>

  <wolfram:expr>
    (*This is debug code*)
    Echo@#Articles

  </wolfram:expr>

</wolfram:comment>

<wolfram:get path="base.html">

<wolfram:slot id="head">
  <wolfram:slot id="Description">
    <wolfram:get path="include/lib/varDefinedBlock.html">
      <wolfram:slot id="var">"Description"</wolfram:slot>
      <wolfram:slot id="Description"><wolfram:slot id="Description"/></wolfram:slot>
      <wolfram:slot id="if">
        <meta name="description" content="<wolfram:slot id='Description'/>">
      </wolfram:slot>
    </wolfram:get>
  </wolfram:slot>
</wolfram:slot>

<wolfram:slot id="PageTitle">
  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">"SiteSubtitle"</wolfram:slot>
    <wolfram:slot id="SiteSubtitle"><wolfram:slot id="SiteSubtitle"/></wolfram:slot>
    <wolfram:slot id="SiteName"><wolfram:slot id="SiteName"/></wolfram:slot>
    <wolfram:slot id="if">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr> | <wolfram:slot id="SiteSubtitle"/>
    </wolfram:slot>
    <wolfram:slot id="else">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr>
    </wolfram:slot>
  </wolfram:get>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">

  <wolfram:sequence
    values="Replace[#IndexListing,Except[_List]:>#Articles]"
    slot="IndexItem" delimiters="<hr>"
    >

    <div class="paclet centered">
      <article class="teaser">
          <h4 class="title">
            <a href='<wolfram:slot id="SiteURL"/>/<wolfram:expr>#IndexItem["URL"]</wolfram:expr>'>
              <wolfram:which>
                <wolfram:if test='MatchQ[#IndexItem["Name"],Except[_Missing|False|""]]'>
                  <wolfram:expr>#IndexItem["Name"]</wolfram:expr>
                </wolfram:if>
                <wolfram:else>
                  <wolfram:expr>#IndexItem["Title"]</wolfram:expr>
                </wolfram:else>
              </wolfram:which>
              <wolfram:if test='MatchQ[#IndexItem["Version"],_String]'>
                <span style="color:gray;">
                   &nbsp;v<wolfram:expr>#IndexItem["Version"]</wolfram:expr>
                </span>
              </wolfram:if>
            </a>
          </h4>
          <div class="content paclet-summary">
            <wolfram:which>
              <wolfram:if test='MatchQ[#IndexItem["Description"],Except[_Missing|False|""]]'>
                <wolfram:expr>#IndexItem["Description"]</wolfram:expr>
              </wolfram:if>
              <wolfram:else>
                <wolfram:expr>#IndexItem["Summary"]</wolfram:expr>
              </wolfram:else>
            </wolfram:which>
          </div>
      </article>
    </div>

  </wolfram:sequence>

  <wolfram:comment>
    <wolfram:get path='include/pagination.html'>
  </wolfram:comment>

</wolfram:slot>

</wolfram:get>
