<wolfram:comment>

This generates the index.html page

</wolfram:comment>

<wolfram:comment>

  <wolfram:expr>
    (*This is debug code*)
    Echo@#Articles

  </wolfram:expr>

</wolfram:comment>

<wolfram:get path="base.html">

<wolfram:slot id="head">
  <wolfram:slot id="Description">
    <wolfram:get path="include/lib/varDefinedBlock.html">
      <wolfram:slot id="var">"Description"</wolfram:slot>
      <wolfram:slot id="Description"><wolfram:slot id="Description"/></wolfram:slot>
      <wolfram:slot id="if">
        <meta name="description" content="<wolfram:slot id='Description'/>">
      </wolfram:slot>
    </wolfram:get>
  </wolfram:slot>
</wolfram:slot>

<wolfram:slot id="Title">
  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">"SiteSubtitle"</wolfram:slot>
    <wolfram:slot id="SiteSubtitle"><wolfram:slot id="SiteSubtitle"/></wolfram:slot>
    <wolfram:slot id="SiteName"><wolfram:slot id="SiteName"/></wolfram:slot>
    <wolfram:slot id="if">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr> | <wolfram:slot id="SiteSubtitle"/>
    </wolfram:slot>
    <wolfram:slot id="else">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr>
    </wolfram:slot>
  </wolfram:get>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">

  <!-- Page content -->
  <div class="w3-content w3-padding">

  <!-- About Section -->
  <wolfram:get path="include/lib/pageLocalizedBlock.html">
    <wolfram:slot id="page">pages/about.html</wolfram:slot>
    <wolfram:slot id="block">
      <article class="teaser">
        <div class="col-sm-8 about-block w3-container w3-padding-32" id="about">
          <div class="about-blub">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
              <h4 class="title">
                  <a href=
                    '<wolfram:expr>#SiteURL</wolfram:expr>/<wolfram:expr>#PageData["URL"]</wolfram:expr>'
                    >
                    <wolfram:expr>#PageData["Title"]</wolfram:expr>
                  </a>
              </h4>
              <div class="content">
                <wolfram:expr>#PageData["Summary"]</wolfram:expr>
              </div>
            </h3>
          </div>
        </div>
      <article>
    </wolfram:slot>
  </wolfram:get>

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
      Posts
    </h3>
    <div class="w3-row-padding">
      <wolfram:sequence
        values="Replace[#IndexListing, Except[_List]:>#Articles]"
        slot="IndexItem"
        >
        <div class="article-bubble bubble centered">
          <article class="teaser">
            <div class="w3-display-container">
              <h4 class="article-title w3-display-topleft w3-black w3-padding">
                <a href='<wolfram:slot id="SiteURL"/>/<wolfram:expr>#IndexItem["URL"]</wolfram:expr>'>
                  <wolfram:expr>#IndexItem["Title"]</wolfram:expr>
                </a>
              </h4>
              <div class="content article-summary">
                <wolfram:expr>#IndexItem["Summary"]</wolfram:expr>
              </div>
            </div>
          </article>
        </div>

      </wolfram:sequence>

    </div>
  </div>

  </div>

  <wolfram:comment>
    <wolfram:get path='include/pagination.html'>
  </wolfram:comment>

</wolfram:slot>

</wolfram:get>
