<wolfram:comment>

This generates the index.html page

</wolfram:comment>

<wolfram:comment>

  <wolfram:expr>
    (*This is debug code*)
    Echo@#Articles

  </wolfram:expr>

</wolfram:comment>

<wolfram:get path="base.html">

<wolfram:slot id="head">
  <wolfram:slot id="Description">
    <wolfram:get path="include/lib/varDefinedBlock.html">
      <wolfram:slot id="var">"Description"</wolfram:slot>
      <wolfram:slot id="Description"><wolfram:slot id="Description"/></wolfram:slot>
      <wolfram:slot id="if">
        <meta name="description" content="<wolfram:slot id='Description'/>">
      </wolfram:slot>
    </wolfram:get>
  </wolfram:slot>
</wolfram:slot>

<wolfram:slot id="PageTitle">
  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">"SiteSubtitle"</wolfram:slot>
    <wolfram:slot id="SiteSubtitle"><wolfram:slot id="SiteSubtitle"/></wolfram:slot>
    <wolfram:slot id="SiteName"><wolfram:slot id="SiteName"/></wolfram:slot>
    <wolfram:slot id="if">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr> | <wolfram:slot id="SiteSubtitle"/>
    </wolfram:slot>
    <wolfram:slot id="else">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr>
    </wolfram:slot>
  </wolfram:get>
</wolfram:slot>

<wolfram:slot id="PageHeader">
  <wolfram:sequence values="#Pages" slot="Page">
    <wolfram:if test='#Page["Slug"]=="about"'>
      <article class="teaser">
        <div class="col-sm-8 about-block">
          <div class="about-blub">
            <h4 class="title">
                <a href='<wolfram:slot id="SiteURL"/>/<wolfram:expr>#Page["URL"]</wolfram:expr>'>
                  <wolfram:expr>Lookup[#Page,"Title",""]</wolfram:expr>
                  </a>
                </h4>
            <div class="content">
              <wolfram:expr>#Page["Summary"]</wolfram:expr>
            </div>
          </div>
        </div>
      <article>
    </wolfram:if>
  </wolfram:sequence>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">

  <wolfram:sequence
    values="Replace[#IndexListing,Except[_List]:>#Articles]"
    slot="IndexItem" delimiters="<hr>"
    >

    <article class="row teaser">
      <header class="col-sm-4 text-muted">
        <ul>
          <li title='<wolfram:expr>DateString[#IndexItem["Date"],"ISODateTime"]</wolfram:expr>'>
            <i class="fa fa-clock-o"></i>
            <wolfram:expr>DateString[#IndexItem["Date"]]</wolfram:expr>
          </li>
        </ul>
      </header>
      <div class="col-sm-8">
        <h4 class="title">
          <a href='<wolfram:slot id="SiteURL"/>/<wolfram:expr>#IndexItem["URL"]</wolfram:expr>'>
            <wolfram:expr>Lookup[#IndexItem,"Title",""]</wolfram:expr>
          </a>
        </h4>
        <div class="content">
          <wolfram:expr>#IndexItem["Summary"]</wolfram:expr>
        </div>
      </div>
    </article>

  </wolfram:sequence>

  <wolfram:comment>
    <wolfram:get path='include/pagination.html'>
  </wolfram:comment>

</wolfram:slot>

</wolfram:get>
