<wolfram:get path="base.html">

<wolfram:slot id="head">
  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">Summary</wolfram:slot>
    <wolfram:slot id="if">
      <meta name="description" content="<wolfram:slot id='summary' />">
    </wolfram:slot>
  </wolfram:get>
</wolfram:slot>

<wolfram:slot id="PageTitle">
  <wolfram:slot id="Title"/> | <wolfram:expr> $$templateLib["getSiteName"] </wolfram:expr>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">
  <article class="article">
    <div class="content">
      <wolfram:slot id="Content"/>
    </div>
  </article>
</wolfram:slot>

</wolfram:get>
