<!DOCTYPE html>

<html lang="<wolfram:slot id='Language'/>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <wolfram:slot id="PageTitle">
        <wolfram:get path="include/lib/templates/varDefinedBlock.html">
          <wolfram:slot id="var">Title</wolfram:slot>
          <wolfram:slot id="Title"><wolfram:slot id="Title"/></wolfram:slot>
          <wolfram:slot id="if">
            <wolfram:slot id="Title"/>
          </wolfram:slot>
          <wolfram:slot id="else">
            <wolfram:expr>$$templateLib["getSiteName"][#]</wolfram:expr>
          </wolfram:slot>
        </wolfram:get>
      </wolfram:slot>
    </title>

    <wolfram:expr>
      $$templateLib["makeSiteIcons"][
        Replace[#Icons,
          Except[_List]:>
            Import[FileNameJoin@{"include","config","icons.m"}]
          ],
        #
        ]
    </wolfram:expr>

    <wolfram:get path="include/lib/templates/varNotFalseBlock.html">
      <wolfram:slot id="var">StyleSheets</wolfram:slot>
      <wolfram:slot id="if">
        <wolfram:expr>
          $$templateLib["makeSiteStylesheet"][
            Replace[#StyleSheets,{
              None->{},
              Except[_List]:>
                Prepend[
                  Import[FileNameJoin@{"include","config","stylesheets.m"}],
                  URLBuild@{
                    "pygments",
                    Replace[#PygmentsStyle,
                      Except[_String]:>"default"
                      ]<>".min.css"
                    }
                  ]
              }],
            #
            ]
        </wolfram:expr>
      </wolfram:slot>
    </wolfram:get>

    <wolfram:get path="include/lib/templates/varTrueBlock.html">
      <wolfram:slot id="var">UseJQuery</wolfram:slot>
      <wolfram:slot id="UseJQuery">`UseJQuery`</wolfram:slot>
      <wolfram:slot id="if">
        <wolfram:get path="include/load_jQuery.html"></wolfram:get>
      </wolfram:slot>
    </wolfram:get>
    <wolfram:get path="include/lib/templates/varTrueBlock.html">
      <wolfram:slot id="var">CopyableInput</wolfram:slot>
      <wolfram:slot id="CopyableInput">`CopyableInput`</wolfram:slot>
      <wolfram:slot id="if">
        <wolfram:get path="include/lib/templates/varNotTrueBlock.html">
          <wolfram:slot id="var">UseJQuery</wolfram:slot>
          <wolfram:slot id="UseJQuery">`UseJQuery`</wolfram:slot>
          <wolfram:slot id="if">
            <wolfram:get path="include/load_jQuery.html"></wolfram:get>
          </wolfram:slot>
        </wolfram:get>
        <wolfram:get path="include/copyable_input.html"></wolfram:get>
      </wolfram:slot>
    </wolfram:get>

    <wolfram:slot id="head"></wolfram:slot>

  </head>

<body onload="<wolfram:slot id='OnLoad' />">

  <header class="header">

    <div class="top-bar">

      <div class="site-title">
        <h1 class="title">
          <wolfram:expr>
            $$templateLib["makeSiteHyperlink"][
              {
                <|
                  "href"->
                    Replace[#SiteExtension,
                      Except[_String]:>
                        Nothing
                      ],
                  "body"->
                    Replace[TemplateSlot["SiteName"],
                      Except[_String]:>
                        URLParse[#SiteURL,"Path"][[-1]]
                      ]
                  |>
                },
              #
              ]
          </wolfram:expr>
        </h1>
        <wolfram:get path="include/lib/templates/varTrueBlock.html">
          <wolfram:slot id="var">EnableSearch</wolfram:slot>
          <wolfram:slot id="if">
            <wolfram:get path="include/search.html"></wolfram:get>
          </wolfram:slot>
        </wolfram:get>
      </div>

      <div class="site-links">
        <wolfram:expr>
          $$templateLib["makeSiteLinkList"][
            Replace[#PageLinks,{
              Except[_List]:>
                Import[FileNameJoin@{"include","config","page_links.m"}]
              }],
            #
            ]
        </wolfram:expr>
      </div>

    </div>
  </header>

  <div class="main" id="main-content">

    <div class="main-content">
      <div class="container centered">
        <wolfram:get path="include/lib/templates/varDefinedBlock.html">
          <wolfram:slot id="var">PageHeader</wolfram:slot>
          <wolfram:slot id="PageHeader"><wolfram:slot id="PageHeader"/></wolfram:slot>
          <wolfram:slot id="if">
            <h3 class="page-header">
              <wolfram:slot id="PageHeader"/>
            </h3>
          </wolfram:slot>
        </wolfram:get>
        <br>
        <wolfram:slot id="PrimaryContent">
          <wolfram:get path="include/lib/templates/varDefinedBlock.html">
            <wolfram:slot id="var">Content</wolfram:slot>
            <wolfram:slot id="Content">
              <wolfram:slot id="Content"/>
            </wolfram:slot>
            <wolfram:slot id="if">
              <wolfram:slot id="Content"/>
            </wolfram:slot>
          </wolfram:get>
        </wolfram:slot>
      </div>
    </div>

  <wolfram:get path="include/pagination.html"/>
  </div>

<footer class="footer">
  <p class="col-sm-6 text-sm-right text-muted acknowledgement">
    <wolfram:slot id="Footer"/>
  </p>
</footer>

</body>

</html>
