<wolfram:get path="base.html">

<wolfram:slot id="PageTitle">
  Categories
</wolfram:slot>

<wolfram:slot id="PageHeader">
  Categories
</wolfram:slot>

<wolfram:slot id="PrimaryContent">
  <table class="table table-bordered table-striped table-hover">
    <wolfram:sequence values="#Categories">
      <tr>
        <td>
          <a href='<wolfram:slot id="SiteURL" />/<wolfram:expr>#["URL"]</wolfram:expr>'>
              <wolfram:expr>#["Category"]</wolfram:expr></a>
          </td>
        <td><wolfram:expr>Length@#["Articles"]</wolfram:expr></td>
      </tr>
    </wolfram:sequence>
  </table>
</wolfram:slot>

</wolfram:get>
