<wolfram:get path="base.html">

<wolfram:slot id="head">
  <meta http-equiv="refresh" content="`PauseTime`; url=`RedirectURL`">
  <wolfram:if test="StringQ@#ContentType">
  <meta http-equiv="content-type" content="`ContentType`">
  </wolfram:if>
</wolfram:slot>
<wolfram:slot id="Head">
  <meta http-equiv="refresh" content="`PauseTime`; url=`RedirectURL`">
  <wolfram:if test="StringQ@#ContentType">
  <meta http-equiv="content-type" content="`ContentType`">
  </wolfram:if>
</wolfram:slot>

<wolfram:slot id="PageTitle">
  Redirecting... | <wolfram:expr>
      $$templateLib["getSiteName"][#]
    </wolfram:expr>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">
  Redirecting to <a href="`RedirectURL`">`RedirectURL`</a>
</wolfram:slot>

</wolfram:get>
