<wolfram:comment>

This generates the rss_feed for the page

</wolfram:comment><?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

  <channel>
    <title><wolfram:slot id="SiteTitle"/></title>
    <link><wolfram:slot id="SiteURL"/></link>
    <atom:link href="<wolfram:slot id='SiteURL'/>/index/rss_feed.xml" rel="self" type="application/rss+xml" />
    <image>
      <url><wolfram:slot id="SiteURL"/>/favicon-32x32.png</url>
      <title><wolfram:slot id="SiteTitle"/></title>
      <link><wolfram:slot id="SiteURL"/></link>
    </image>
    <description><wolfram:slot id="SiteTitle"/></description>
    <wolfram:get path="include/rss.html"/>
  </channel>

</rss>
