<wolfram:comment>

This generates the index.html page

</wolfram:comment>

<wolfram:get path="base.html">

<wolfram:slot id="head">
  <wolfram:slot id="Description">
    <wolfram:get path="include/lib/varDefinedBlock.html">
      <wolfram:slot id="var">"Description"</wolfram:slot>
      <wolfram:slot id="Description"><wolfram:slot id="Description"/></wolfram:slot>
      <wolfram:slot id="if">
        <meta name="description" content="<wolfram:slot id='Description'/>">
      </wolfram:slot>
    </wolfram:get>
  </wolfram:slot>
</wolfram:slot>

<wolfram:slot id="PageTitle">
  <wolfram:get path="include/lib/varDefinedBlock.html">
    <wolfram:slot id="var">"SiteSubtitle"</wolfram:slot>
    <wolfram:slot id="SiteSubtitle"><wolfram:slot id="SiteSubtitle"/></wolfram:slot>
    <wolfram:slot id="SiteName"><wolfram:slot id="SiteName"/></wolfram:slot>
    <wolfram:slot id="if">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr> <wolfram:expr>Replace[#SiteSubtitle,{Except[_String]->"",s_String:>" | "<>s}]</wolfram:expr>
    </wolfram:slot>
    <wolfram:slot id="else">
      <wolfram:expr>
        $$templateLib["getSiteName"][#]
      </wolfram:expr>
    </wolfram:slot>
  </wolfram:get>
</wolfram:slot>

<wolfram:slot id="PrimaryContent">

  <div class="doc-div">
    <iframe
      src="<wolfram:slot id='SiteURL'/>/<wolfram:slot id='DocumentationRoot'/>"
      class="doc-iframe"
      >
    </iframe>
  </div>

</wolfram:slot>

</wolfram:get>
